
#sub{
	color:#6d6d6d;
}
/* #marker{ */
	/* background-color:#e6c951; */
	/* opacity: 0.8; */
	
	/* box-shadow: 0px 0px 8px 8px #e6c951; */
	
/* } */
#marker{
	background-color:black;
	opacity: 0.9;
	/* box-shadow: 0px 0px 12px 12px #e6c951 inset; */
	box-shadow: 0px 0px 15px 17px black;
	/* filter: blur(1px); */
}
#scott{
	background-color:#161203;
	/* opacity: 0.1; */
	/* box-shadow: 0px 0px 12px 12px #e6c951 inset; */
	box-shadow: 0px 0px 8px 8px #161203;
	
	/* filter: blur(1px); */
}
#scotttxt{
	opacity:1;
	color:#6d6d6d;
	
}
#bcgr{
  background-image: url("top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:250px;
  background-position: bottom;
  opacity: 1;
  /* filter: grayscale(10%); */
  filter: drop-shadow(0px 0px 20px black);
  box-shadow: -10px 0px 5px 17px black inset;
  /* border-radius: 8px; */
  /* position: -webkit-sticky;  */
  /* position: sticky; */
  /* top: 0; */
}
#t{
	opacity: 1;
	margin-top: 140px;
	
	/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}



#ttl0{
	opacity: 1;
	font-family:Serif;
	color: white;
	/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
	/* text-shadow: 0px px 4px 4px #000000; */
}

#amon{
	font-size: 20px;
	/* font-family:Serif; */
}
#ttl{
	margin-top: 230px;
	/* margin-left: 5%;  */
	/* margin-right: 5%;  */
}	
#subttl{
	color: #6d6d6d;
}
#txt{
	color: #6d6d6d;
}
#links{
	position: relative;
	bottom: 0px;
	right: 0px;
	/* background: #ffc107; */
	
}
#linxshadow{
	box-shadow: 0px 0px 8px 8px black;
}

#btm{
	/* position: absolute; */
	bottom: 0px;
	background-color: black;
}
#bdy{
	
}
#body{
  background-color: black;
  color: #d7d7d7;
}

#player{
	color: black;
	
}
#players{
	
}

.progress{
	width: 100%;
}

.progress-bar{
	/* width: 0%; */
	
}

/* #playercont1{ */
	/* background-image: url("bttgpic.png"); */
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	/* height:500px; */
	/* background-position: bottom;  */
	/* opacity: 1; */
/* } */
/* #playercont2{ */
	/* background-image: url("ttcpic.jpeg"); */
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	/* height:500px; */
	/* background-position: bottom;  */
	/* opacity: 1; */
/* } */
#sngpic{
	
	/* max-height:500px; */
	
}

#mypic{
	background-image: url("mypic.png"); 
	background-size: contain;
	background-repeat: no-repeat;
	height:500px; 
	background-position: bottom;
	box-shadow: 0px 0px 30px 40px black inset;
	
	/* opacity: 1; */
	filter: contrast(115%);
}

ul{
	 border: 0px black;
}

li{
  background-color: black;
  border: 0px black;
}

lu li i:hover {
  background-color:#d7d7d7;
  color:black;
  
}
